<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gatekeeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>World.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>codesign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>csreq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>spctl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>syspolicyd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>systemkeychain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tokenadmin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CA1FEB5052A3C6D00F22E42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52558D310B274C4400CD7E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C21CFB640A24CBC8006CD5B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C21CFB690A24CBDB006CD5B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C23B128414BB85BA00A1ED50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C27360C414366F5E00A9A5FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C297EE4E0AAE898700084FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB149A81151C204C0042E8ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
